* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-image: url('../image/bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.container {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 80px 60px; /* Increased padding */
  border-radius: 32px;
  text-align: center;
  color: #0c0303;
  backdrop-filter: blur(12px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
  max-width: 500px; /* Increased width */
  width: 100%;
}

.container h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 4rem; /* Increased */
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.container h2 {
  font-family: 'DM Serif Display', serif;
  font-size: 4rem; 
  letter-spacing: 2px;
  color: #fc0202;
  margin-bottom: 16px;
}

.buttons {
  margin-top: 40px; /* More space from text */
  display: flex;
  justify-content: center;
  gap: 24px;
}

.buttons button {
  padding: 16px 32px;
  font-size: 1.1rem;
  font-weight: 500;
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
}
